
.p-5 {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: 10%;
  }
  
  .p-4 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: 10%;
  }
  
  .main-title {
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .section-title {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .container-2 {
    display: flex;
    justify-content: space-between;
  }
  
  .Info {
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .Info-2 {
    display: flex;
    margin-left: 32%;
    padding: 25px;
  }
  
  .button-1 {
    background-color: grey;
    color: skyblue;
    border-radius: 1px rgb(63, 190, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .button-2 {
    background-color: #1dc3ff;
  }
  
  .images {
    padding: 50px;
  }
  
  .images:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);
  }
  
  .images img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .images:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  