.Container-1 {
    color: white;
    background-color: black;
    border-bottom: 2px solid white;
  }
  
  .me-auto {
    margin-left: 40%;
    justify-content: space-between;
    color: white;
  }
  